<% note_path = '/notes/'+note._id %>
<% edit_note_path = '/notes/'+note._id+'/edit' %>
<% destroy_note_path = '/notes/'+note._id+'/destroy' %>

<tr>
  <td><%= note._id %></td>
  <td><a href="<%= note_path %>"><%= note.title %></a></td>
  <td><%= note.description %></td>
  <td><%= moment(note.created_at).tz(moment.tz.guess(note.created_at)).format('YYYY-MM-DD @ HH:mm:ss zz') %></td>
  <td><%= moment(note.updated_at).tz(moment.tz.guess(note.updated_at)).format('YYYY-MM-DD @ HH:mm:ss zz') %></td>
  <td>
    <form action=<%= edit_note_path %> method='GET'>
      <button class='btn btn-warning' type='submit'>
        <span class="glyphicon glyphicon-pencil"></span> edit
      </button>
    </form>
  </td>
  <td>
    <form action=<%= destroy_note_path %> method='POST'>
      <button class='btn btn-danger' type='submit'>
        <span class="glyphicon glyphicon-trash"></span> delete
      </button>
    </form>
  </td>
</tr>
